    <header>
      <nav class='navbar navbar-dark bg-dark navbar-expand-md'>
        <a href='/'><img
            src='/images/logo1.png'
            height='80px'
            width='120px'
          /></a>
        <a href='#' class='navbar-brand'></a>
        <button
          class='navbar-toggler'
          data-bs-toggle='collapse'
          data-bs-target='#navbar'
        >
          <span class='navbar-toggler-icon'></span>
        </button>
        <div
          class='navbar-collapse collapse w-100 dual-collapse2 order-1 order-md-0'
          id='navbar'
        >
          <ul class='navbar-nav'>
            {{!-- future buttons --}}
            {{!-- <li class='nav-item'><a href='#' class='nav-link'>Top</a></li>
            <li class='nav-item'><a href='#' class='nav-link'>Latest</a></li> --}}
         <li class='nav-item'><a href='/date' class='nav-link'>Latest</a>
            <li class='nav-item dropdown'>
              <a
                class='nav-link dropdown-toggle'
                href='#'
                role='button'
                data-bs-toggle='dropdown'
                aria-expanded='false'
              >
                Categories
              </a>
              <ul class='dropdown-menu'>
                {{#each categories as |category|}}
                  <a
                    class='dropdown-item'
                    href='/{{category.id}}'
                  >{{category.cat_name}}</a>
                {{/each}}
              </ul>
            </li>
          </ul>
        </div>
        <div class='mx-auto w my-2 order-0 order-md-1 position-right'>
          <ul class='navbar-nav'>            

            {{#if logged_in}}
            <li class='nav-item col-4'>
                <a href='/' class='nav-link'>Home</a>
              </li>
              <li class='nav-item col-4'>
                <a href='/api/user-profile' class='nav-link'>Profile</a>
              </li>
              <li class='nav-item col-7'>
                <a href='/' class='nav-link' id='logout'>Log Out</a>
              </li>
            {{else}}
              <li class='nav-item col-7'>
                <a href='/login' class='nav-link'>Login</a>
              </li>{{/if}}
          </ul>
        </div>
      </nav>
     {{#unless login}}
      <div class='banner'>
        <img src='/images/banner.jpg' alt='yummy pizza' />
        {{!-- future search bar --}}
        {{!-- <form class='form-inline my-2 my-lg-0'>
          <input
            class='form-control mr-sm-2'
            type='search'
            placeholder='Search'
            aria-label='Search'
          />
          <button class='btn my-2 my-sm-0 search-btn' type='submit'><i
              class='fa fa-search'
            ></i></button>
        </form> --}}
      </div>
    </header>
    {{/unless}}