<div class='col-md-8'>
  <a href='/recipes/{{id}}'><h4>{{name}}</h4>
    <img
      src='/assets/uploads/{{photo}}'
      class='rounded py-9 px-9 d-flex align-content-center'
      height='350px'
      width='500px'
      alt={{name}}
    /></a>
</div>