<div class='recipe-content'>
        <a href='/recipes/{{id}}'>
          <img
            src='/assets/uploads/{{photo}}'
            class='rounded py-9 px-9 d-flex align-content-center'
            height='130px'
            width='216px'
            alt='{{name}}'
          />
          <ul>
            <li style="margin-top:10px; list-style: none;"> <h4><strong>{{name}}</strong> </h4></li>
          </ul>
        </a>
      </div>