<head>
  <meta charset="UTF-8">
  <title>Your Recipe Book</title>
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
  <div class="navbar">
  <h1>Your Recipe Book</h1>
  <a href="#">Profile</a>
  <a href="#">Contact</a>
  <a href="#">Logout</a>
    </div>
  </div>
        {{{ body }}}
      </main>
  </div>
  </body>
</html>
