<html>
  <head>
    <meta charset='UTF-8' />
    <title>Your Recipe Book</title>
    <link rel='stylesheet' href='css/styles.css' />
  </head>
  <body>
    <main>
      <div class='navbar'>
        <h1>Your Recipe Book</h1>
        <a href='#'>Profile</a>
        <a href='#'>Contact</a>
        <a href='#'>Logout</a>
      </div>
      {{{body}}}
    </main>
  </body>
</html>