<head>
  <meta charset="UTF-8">
  <title>Potluck Party</title>
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
  <div class="navbar">
  <h1>Your Recipe Book</h1>
  <div class="dropdown">
    <button class="dropbtn">Categories</button>
    <div class="dropdown-content">
    <a href="#">Asian</a>
    <a href="#">American</a>
    <a href="#">Italian</a>
    </div>
  </div>
  <a href="#">Profile</a>
  <a href="#">Logout</a>
    </div>
  </div>
        {{{ body }}}
      </main>
  </div>
  </body>
</html>
