{{!-- <div class='grid-container'> --}}
  <div class='box box-one'>
    <img src='/images.png' alt='' />
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore harum
    cumque rem laudantium animi. Molestias cumque omnis consequuntur. Corrupti,
    doloremque.
  </div>
  <div class='box box-two'><img src='/images.png' alt='' />
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore harum
    cumque rem laudantium animi. Molestias cumque omnis consequuntur. Corrupti,
    doloremque.</div>
  <div class='box box-three'><img src='/images.png' alt='' />
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore harum
    cumque rem laudantium animi. Molestias cumque omnis consequuntur. Corrupti,
    doloremque.</div>
  <div class='box box-four'><img src='/images.png' alt='' />
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore harum
    cumque rem laudantium animi. Molestias cumque omnis consequuntur. Corrupti,
    doloremque.</div>
{{!-- </div> --}}