
  {{#each recipes as |recipe|}}
    <div class='recipe-content'>
      {{!-- <img src={{recipe.image_url}} alt={{recipe.name}} /> --}}
      <img src="/images.png" alt= />
      <p>{{recipe.name}}</p>
    </div>
  {{/each}}
