<div class='grid-container'>
  <div class='gridbtns'>
    <button><h2>Top Recipes</h2></button>
    <button><h2>Latest</h2></button>
    <button><h2>Latest</h2></button>
    <div class='dropdown'>
      <button class='dropbtn'><h2>Categories</h2></button>
      <div class='dropdown-content'>
        <a href='#'>Asian</a>
        <a href='#'>American</a>
        <a href='#'>Italian</a>
        <a href='#'>Italian</a>
        <a href='#'>Italian</a>
        <a href='#'>Italian</a>
        <a href='#'>Italian</a>
      </div>
    </div>
  </div>
  <div class='box box-one'>
    <img src='/images.png' alt='' />
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore harum
    cumque rem laudantium animi. Molestias cumque omnis consequuntur. Corrupti,
    doloremque.
  </div>
  <div class='box box-two'><img src='/images.png' alt='' />
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore harum
    cumque rem laudantium animi. Molestias cumque omnis consequuntur. Corrupti,
    doloremque.</div>
  <div class='box box-three'><img src='/images.png' alt='' />
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore harum
    cumque rem laudantium animi. Molestias cumque omnis consequuntur. Corrupti,
    doloremque.</div>
  <div class='box box-four'><img src='/images.png' alt='' />
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore harum
    cumque rem laudantium animi. Molestias cumque omnis consequuntur. Corrupti,
    doloremque.</div>
</div>