<div class='login-content'>
  <h1 style=" font-weight: bold; line-height: 1;">Welcome, {{name}}!</h1>
  <div class="recipe-content"> <a class='add-rep ml-4' href='/api/add-recipe'>
   <h3>Add Recipe</h3> </a></div>
 
</div>
<br />

  {{#if recipes}}
    <div class='recipe-list col-sm'>
      <h2>User Recipes:</h2>
      {{#each recipes as |recipe|}}
        {{>profile-recipe}}
      {{/each}}
    </div>
  {{/if}}

  {{#if UserFavRecipes}}

    <div class='recipe-list col-sm'>
      <h2>Favourite recipes:</h2>

      {{#each UserFavRecipes}}
     
        {{>profile-recipe}}
      {{/each}}
    </div>
  {{/if}}

<br />

<script src='/js/profile.js'></script>