<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>
</div>

<a href="api/recipes">See all recipes</a>
</br>
<a href="api/addRecipe">Add Recipe</a>
 

<script src="./js/profile.js"></script>
