/* body */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

/* navbar */
.navbar {
  /* overflow: hidden; */
  background-color: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
}
.navbar h1 {
  color: #222;
  margin: 0;
  padding: 0;
}
.navbar a {
  color: #222;
  text-decoration: none;
}
.navbar a:hover {
    background-color: #949393;
  }

/* Dropdown Content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
  display: flex;
  flex-direction: column;
}

/* grid */
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Change to grid-template-columns */
  grid-auto-rows: minmax(100px, auto); 
  border: 3px solid lightslategray;
  min-height: 100vh;
}
.box {
  grid-column: span 4;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 1rem;
  margin-left: 1rem;
}
.gridbtns {
  grid-row: 1;
  grid-column: span 4;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
button{
    grid-row: 1;
    grid-column: span 4;
    display: flex;
    height: 100%;
    width: 100%;
}
.dropdown{
    width: 100%;
    position: relative;
}
.selection {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-left: 2rem;
  height: 4rem;
  align-items: center;
}
.recipe-content {
  grid-column: span 4;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 1rem;
  margin-left: 1rem;
}