/* body */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
}
/* typography */
li {
  text-align: left;
}

/* banner */
.banner {
  height: 50%;
  position: relative;
}

.banner img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* forms */
.form-inline {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-control {
  width: 100%;
  border: 3px solid #383846;
  height: 40px;
  border-radius: 5px;
  outline: none;
}

.form {
  margin-left: 2rem;
}

.form input {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.form-ext {
  display: flex; 
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
.form-int {
    position: relative;
    text-align: center; 
   
    display: flex;
    
    justify-content: center;
   
    align-items: center;
    padding: 60px;
}

.form-body {
  color: #fff;
    border: 3px solid #fff;
    padding: 40px;
    display: inline-block;
    width: 100%;
    min-width: 540px;
   
    border-radius: 10px;
    text-align: left;
    
    transition: all 0.4s ease;
}
.form-int h3 {
  color: #fff;
  text-align: left;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 5px;
}
.form-group label{
  width: 30%;
}
label[for=thirty],label[for=fourty-five]{
  width:auto
}
/* btns */
.search-btn {
  width: 40px;
  height: 40px;
  background: transparent;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

/* grid */
.align-grid {
  display: flex;
  justify-content: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(100px, auto);
  margin-bottom: 2rem;
  margin-top: 2rem;
  gap: 2rem;
}

.recipe-content,
.login-content {
  grid-column: span 2;
  gap: 1rem;
  margin: 1rem;
}

/* recipe images */
.recipe-content img {
  object-fit: cover;
  min-height: 20rem;
  max-width: 40rem;
  width: 100%;
  height: 100%;
}
.card{
  margin-right: 30px;
  border: 1px solid #ccc;
  float: left;
}
.card:hover {
  border: 1px solid #777;
}

.card img {
  width: 100%;
  height: auto;
}
.card h3{  
  box-shadow: 0 4px 6px -6px #372e2e;
  margin-bottom: 20px;
}
/* media queries */
@media screen and (min-width: 768px) {
  .recipe-content,
  .login-content {
    grid-column: span 1;
  }
}
